<div class="container content">
    <div class="col-md-12">
      <h1>About Ben and Pierce Auto</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="./images/benlinda.jpg" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="./images/benfish.jpg" />
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <p>Ben has always had an infatuation with cars. He was raised in a family of stock car drivers in western New York. His late brother Billy raced full time at Stateline Speedway in northern Pennsylvania. His entire family worked as the crew for his brother. Billy couldn't make a race one weekend, and his mother, Val, filled in and finished on the podium.</p>
    </div>
    <div class="embed-responsive embed-responsive-16by9" height="max-content">
        <iframe id="frameit" class="embed-resposive-item col-lg-12 thumbnail" width="100%" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ftim.schnars.77%2Fvideos%2F1891806397712899%2F&show_text=0"></iframe>
    </div>
    <div class="col-md-12">
      <p>Ben has been involved with driving and working on cars ever since he was a little boy. He was always present when his dad, Big Ben, was working on his old Ford coupe, a car that can be seen in old pictures as a junker in a waste pile. Ben later took it upon himself to surprise his dad by restoring the entire vehicle, which today is his pride and joy.</p>
      <p>Below, you can see the before and after pictures of his 1931 Ford Coupe, as well as a photo of his family.</p>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="thumbnail">
          <img src="./images/fordwork.jpg" />
        </div>
      </div>
      <div class="col-md-7">
        <div class="thumbnail">
          <img src="./images/oldford1.jpg" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="thumbnail">
        <img src="./images/family.jpg" />
      </div>
    </div>
</div>
