<div class="container content">
  <h1>1931 Ford Coupe</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/fordwork.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/oldford2.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/oldford3.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./images/oldford1.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
<br>
<div class="container content">
  <h1>Red Corvette</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/vette1.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/vette2.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/vette3.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/vette4.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/vette5.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/vette6.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./images/vette7.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
<br>
<div class="container content">
  <h1>Jaguar</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/jag1.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/jag2.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="./images/jag3.jpg" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="./images/jag4.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
<br>
