<div class="jumbotron home">
  <div class="container">
    <h1>Pierce Auto Restoration</h1>
    <p>Request a free consultation today.</p>
    <a href="#">Quotation</a>
  </div> <!--end jumbotron container-->
</div> <!--end jumbotron-->
<div class="content">
    <div class="container">
        <h2>Pierce Auto Restoration is your one stop shop for refinishing, rebuilding, and restoration.</h2>
        <p>Ben Pierce provides premier service to ensuring that your needs are met. He represents 20 years of refinishing and restoring expertise to classics, antiques, and custom designs.</p>
        <p>Whatever your needs, Pierce Auto Restoration is up for the challenge. Request a free consultation and begin the process of transforming dreams into reality.</p>
        <div class="row"> <!--row 1-->
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="./images/oldford1.jpg" />
                </div>
                <div class="thumbnail">
                    <img src="./images/fordwork.jpg" />
                </div>
            </div> <!--end row 1 column 1-->
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="./images/silvercoupe.jpg" />
                </div>
                <div class="thumbnail">
                    <img src="./images/redcoupe.jpg" />
                </div>
            </div> <!--end row 1 column 2-->
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="./images/profilepic.jpg" />
                </div>
            </div> <!--end row 1 column 3-->
        </div> <!--end row 1-->
    </div> <!--end neighborhood guide container-->
</div> <!--end neighborhood guide-->
