.nav a {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

hr {
  border: 2px solid #fff;
}

.home {
  background-image:url('https://images.unsplash.com/uploads/1413686514683468a35c4/bcccfd71?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 60px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 24px;
  color: #fff;
}

.jumbotron a {
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  opacity: .75;
  border-radius: 10px;
}

.jumbotron a:hover {
  background-color: #565656;
}

.content {
    background-color: #efefef;
    border-bottom:1px solid #dbdbdb;
}

.content h2 {
    color:#393c3d;
    font-size:24px;

}

.content p {
    font-size:15px;
    margin-bottom:13px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.embed-responsive #frameit {
  height: 522px;
}

@media only screen and (max-width: 1000px) {
  .embed-responsive #frameit {
    height: 400px;
  }
}

@media only screen and (max-width: 700px) {
  .embed-responsive #frameit {
    height: 350px;
  }
}

@media only screen and (max-width: 600px) {
  .embed-responsive #frameit {
    height: 300px;
  }
}

@media only screen and (max-width: 550px) {
  .embed-responsive #frameit {
    height: 275px;
  }
}

@media only screen and (max-width: 500px) {
  .embed-responsive #frameit {
    height: 250px;
  }
}

@media only screen and (max-width: 450px) {
  .embed-responsive #frameit {
    height: 225px;
  }
}

@media only screen and (max-width: 400px) {
  .embed-responsive #frameit {
    height: 200px;
  }
}
